google_api_python_client==2.78.0
kubernetes==25.3.0
pandas==1.5.3
protobuf==4.22.0
pyfiglet==0.8.post1
requests==2.22.0
google-cloud-appengine-admin==1.8.1
google-cloud-storage==2.7.0
google-cloud-container==2.17.3